Flask==2.3.3
Flask-SQLAlchemy==3.0.5
PyMySQL==1.1.2
web3==7.14.0
Flask-Login==0.6.3
python-dotenv==1.1.0
cryptography==41.0.7
flasgger==0.9.5
Werkzeug==3.1.3
SQLAlchemy==2.0.39
rlp==4.1.0
hexbytes
itsdangerous==2.1.2
click==8.1.7
Jinja2==3.1.2
MarkupSafe==2.1.3
PyYAML==6.0.2
eth-account
eth-utils
pycryptodome==3.23.0
requests==2.32.3
typing_extensions==4.12.2
urllib3==2.3.0
certifi==2024.2.2
charset-normalizer==3.3.2
idna==3.6
eth-abi
eth-hash
eth-keyfile
eth-keys
eth-rlp
eth-typing
pyunormalize==15.1.0
regex==2024.5.15
